<template>
  <span :class="`icon-${name}`" class="svg-icon">
    <client-only v-if="name">
      <component
        :is="svgComponent"
        v-if="svgExist"
        :width="size"
        :height="ratio ? '100%' : size"
        :class="[svg, { 'fill-current': !stroke }]"
      >
      </component>
      <span v-else>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          :width="size"
          :height="ratio ? '' : size"
          class="fill-current error"
        >
          <path
            d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"
          />
        </svg>
      </span>
    </client-only>
    <svg v-else xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512">
      <path
        d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"
      />
    </svg>
  </span>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'Icon',
  props: {
    /**
     * SVG filename from @/assets/icons/ like 'github' for 'github.svg'
     */
    name: {
      type: String,
      default: 'github',
    },
    /**
     * Size of Icon
     */
    size: {
      type: [Number, String],
      default: 18,
    },
    /**
     * Additional classes directly for <svg />
     */
    svg: {
      type: String,
      default: '',
    },
    /**
     * If SVG is not square, add this like <icon name="..." ratio /> to respect ratio
     */
    ratio: {
      type: Boolean,
      default: false,
    },
    /**
     * For SVG if designed by <svg stroke-width="..." />
     */
    stroke: {
      type: Boolean,
      default: false,
    },
    /**
     * Default icon if not found
     */
    default: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      svgComponent: '',
      svgExist: false, // init component with SVG not exist
    }
  },
  watch: {
    name(newValue, oldValue) {
      this.icon() // if 'name' change, update component
    },
  },
  mounted() {
    this.icon() // init component at mounted() hook, when icons-loader set components
  },
  methods: {
    icon() {
      // reset svgExist
      this.svgExist = false
      // set svg component like icons-loader create it
      const svg = `icon-${this.name}`
      // check if component exist
      if (Vue.options.components[svg] === undefined) {
        console.error(
          `${this.$parent._name} with Icon component\nSVG doesn't exist: ${this.name}.svg`
        )
        if (this.default) {
          this.svgExist = true
          this.svgComponent = `icon-${this.default}`
        }
      } else {
        // if exist, display it
        this.svgExist = true
        this.svgComponent = svg
      }
    },
  },
}
</script>
<style lang="postcss" scoped>
.error {
  animation: error 2s infinite;
}
@keyframes error {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}
</style>
