<template>
  <div>
    <div class="p-3 my-10 bg-gray-200">
      <div class="prose prose-lg">
        <button class="btn btn-blue" @click="toHtml()">Convert</button>
        <nuxt-content :document="content" />
        <div v-html="contentToHtml.html"></div>
      </div>
    </div>

    <client-only>
      <vue-easymde
        ref="markdownEditor"
        v-model="content"
        :highlight="true"
        :configs="configs"
      />
    </client-only>
  </div>
</template>

<script>
import Markdown from '@nuxt/markdown'

export default {
  name: 'MarkdownEditor',
  data() {
    return {
      content: '',
      contentToHtml: '',
      configs: {
        autofocus: true,
        autosave: {
          enabled: true,
          uniqueId: 'MyUniqueID',
          delay: 1000,
        },
        blockStyles: {
          bold: '**',
          italic: '*',
        },
        // element: document.getElementById('MyID'),
        forceSync: true,
        hideIcons: [],
        indentWithTabs: false,
        initialValue:
          '# Page title\n\n## Title\n\n### Subtitle\n\n```bash\nsudo apt update\n```',
        insertTexts: {
          horizontalRule: ['', '\n\n-----\n\n'],
          image: ['![](http://', ')'],
          link: ['[image](http://)'],
          table: [
            '',
            '\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n',
          ],
        },
        lineWrapping: true,
        parsingConfig: {
          allowAtxHeaderWithoutSpace: true,
          strikethrough: false,
          underscoresBreakWords: true,
        },
        placeholder: 'Type here...',

        //   previewClass: 'my-custom-styling',
        //   previewClass: ['my-custom-styling', 'more-custom-styling'],

        //   previewRender(plainText) {
        //     return customMarkdownParser(plainText) // Returns HTML from a custom parser
        //   },
        //   previewRender(plainText, preview) {
        //     // Async method
        //     setTimeout(function () {
        //       preview.innerHTML = customMarkdownParser(plainText)
        //     }, 250)

        //     return 'Loading...'
        //   },
        promptURLs: true,
        renderingConfig: {
          singleLineBreaks: false,
          codeSyntaxHighlighting: true,
        },
        shortcuts: {
          drawTable: 'Cmd-Alt-T',
        },
        showIcons: ['code', 'table'],
        spellChecker: false,
        // status: ['autosave', 'lines', 'words', 'cursor'],
        status: [
          'autosave',
          'lines',
          'words',
          'cursor',
          // {
          //   className: 'keystrokes',
          //   defaultValue(el) {
          //     this.keystrokes = 0
          //     el.innerHTML = '0 characters'
          //   },
          //   onUpdate(el) {
          //     el.innerHTML = ++this.keystrokes + ' characters'
          //   },
          // },
        ],
        styleSelectedText: true,
        tabSize: 4,
        toolbar: [
          'bold',
          'italic',
          'strikethrough',
          '|',
          'heading',
          'heading-smaller',
          'heading-bigger',
          '|',
          'code',
          'quote',
          'unordered-list',
          'ordered-list',
          'clean-block',
          '|',
          'link',
          'image',
          '|',
          'table',
          'horizontal-rule',
          '|',
          'preview',
          'side-by-side',
          'fullscreen',
          'guide',
        ],
        toolbarTips: true,
      },
    }
  },
  methods: {
    async toHtml() {
      const md = new Markdown({
        extend({ macros }) {
          macros.alert = (content, props, { transformer, eat }) => {
            return {
              type: 'AlertNode',
              data: {
                hName: 'div',
                hClassNames: ['alert alert-note'],
                hChildren: transformer.tokenizeBlock(content, eat.now()),
              },
            }
          }
        },
      })

      const rendered = await md.toMarkup(this.content)
      this.contentToHtml = rendered
    },
  },
}
</script>
