<template>
  <header class="fixed z-50 w-full pb-2 bg-white shadow-md">
    <nav
      class="relative flex items-center justify-between sm:h-10 lg:justify-start"
      aria-label="Global"
    >
      <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
        <div class="flex items-center justify-between w-full md:w-auto">
          <a href="#">
            <span class="sr-only">Workflow</span>
            <img
              class="w-auto h-8 sm:h-10"
              src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
            />
          </a>
          <div class="flex items-center -mr-2 md:hidden">
            <button
              id="main-menu"
              type="button"
              class="inline-flex items-center justify-center p-2 text-gray-400 bg-white rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
              aria-haspopup="true"
            >
              <span class="sr-only">Open main menu</span>
              <!-- Heroicon name: menu -->
              <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
        <a href="#" class="font-medium text-gray-500 hover:text-gray-900"
          >Product</a
        >

        <a href="#" class="font-medium text-gray-500 hover:text-gray-900"
          >Features</a
        >

        <a href="#" class="font-medium text-gray-500 hover:text-gray-900"
          >Marketplace</a
        >

        <a href="#" class="font-medium text-gray-500 hover:text-gray-900"
          >Company</a
        >

        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"
          >Log in</a
        >
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: 'GuestNavbar',
}
</script>

<style lang="postcss" scoped>
.link {
  @apply inline-flex items-center px-3 py-2 text-sm font-medium text-gray-900 transition-colors duration-300 rounded-md hover:bg-gray-50;
}
.router-link-exact-active {
  @apply bg-gray-100;
}
.router-link-active {
}
</style>
