<template>
  <footer class="bg-white" aria-labelledby="footerHeading">
    <h2 id="footerHeading" class="sr-only">Footer</h2>
    <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:py-8 lg:px-8">
      <div class="lg:grid lg:grid-cols-3 lg:gap-20">
        <div class="space-y-8 lg:col-span-1">
          <markdownthis-logo
            color-logo="text-primary-400"
            class="navbar-logo"
          />
          <p class="text-base text-gray-500">
            Making the world a better place through constructing elegant
            hierarchies.
          </p>
          <div
            class="flex flex-wrap items-center px-1 text-base leading-6 text-gray-400 transition-colors duration-300 rounded-md w-max"
          >
            <span>Built with</span>
            <a
              href="https://nuxtjs.org"
              target="_blank"
              rel="noopener noreferrer"
              class="block w-20 py-2 mx-auto ml-1 text-gray-400 fill-current lg:ml-1 hover:nuxt-svg"
              v-html="nuxtFullSvg"
            ></a
            >,
            <a
              href="https://tailwindcss.com"
              target="_blank"
              rel="noopener noreferrer"
              class="block w-20 py-2 mx-auto ml-1 text-gray-400 fill-current hover:tailwind-svg"
              v-html="tailwindFullSvg"
            ></a
            ><span class="mx-1">&</span
            ><a
              href="https://laravel.com"
              target="_blank"
              rel="noopener noreferrer"
              class="block w-20 py-2 mx-auto ml-1 text-gray-400 fill-current hover:laravel-svg"
              v-html="laravelFullSvg"
            ></a
            >.
          </div>
        </div>
        <div class="lg:col-span-2">
          <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3">
            <div class="mt-8 lg:mt-0">
              <h3
                class="text-sm font-semibold tracking-wider text-gray-400 uppercase"
              >
                Solutions
              </h3>
              <ul class="mt-4 space-y-4">
                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    Marketing
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    Analytics
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    Commerce
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    Insights
                  </a>
                </li>
              </ul>
            </div>
            <div class="mt-8 lg:mt-0">
              <h3
                class="text-sm font-semibold tracking-wider text-gray-400 uppercase"
              >
                Support
              </h3>
              <ul class="mt-4 space-y-4">
                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    Pricing
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    Documentation
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    Guides
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    API Status
                  </a>
                </li>
              </ul>
            </div>
            <div class="mt-8 lg:mt-0">
              <h3
                class="text-sm font-semibold tracking-wider text-gray-400 uppercase"
              >
                Company
              </h3>
              <ul class="mt-4 space-y-4">
                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    About
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    Blog
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    Jobs
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    Press
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="text-base text-gray-500 hover:text-gray-900"
                  >
                    Partners
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        class="pt-8 mt-8 border-t border-gray-200 md:flex md:items-center md:justify-between"
      >
        <!-- <div class="flex mr-16 space-x-6 md:order-2">
          <a href="#" class="text-gray-400 hover:text-gray-300">
            <span class="sr-only">Facebook</span>
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </div> -->
        <!-- <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">
          &copy; 2020 Workflow, Inc. All rights reserved.
        </p> -->
        <div
          class="items-center justify-center w-full text-base text-center text-gray-400 lg:w-max lg:flex"
        >
          <div
            class="w-full mx-auto lg:mr-auto lg:items-center lg:flex lg:w-max"
          >
            <a
              href="https://creativecommons.org"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-center px-1 py-2 text-base leading-6 text-center text-gray-400 transition-colors duration-300 rounded-md group"
            >
              <span
                v-for="license in licenses"
                :key="license.id"
                :alt="license.label"
                class="w-5 h-5 mr-1 text-gray-400 transition-colors duration-300 fill-current group-hover:text-gray-700"
                v-html="license.svg"
              ></span>
              <span
                class="ml-1 transition-colors duration-300 group-hover:text-gray-700"
              >
                {{ date(2020) }}
              </span>
            </a>
            <span class="hidden mx-1 lg:block"> · </span>
            <a
              :href="packageJson.author.url"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-center px-1 py-2 text-base leading-6 text-center text-gray-400 transition-colors duration-300 rounded-md hover:text-gray-600"
            >
              {{ packageJson.author.name
              }}<span class="hidden lg:block">,</span>
            </a>
            <a
              :href="`${packageJson.repository.url}/-/blob/master/LICENSE`"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-center px-1 py-2 text-base leading-6 text-center text-gray-400 transition-colors duration-300 rounded-md hover:text-gray-600"
            >
              {{ packageJson.license }} license<span class="hidden lg:block"
                >.</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import packageJson from '@/package.json'
export default {
  name: 'LayoutFooter',
  data() {
    return {
      packageJson,
      modes: ['system', 'light', 'dark', 'sepia'],
      footerLinks: [
        {
          label: 'About',
          route: 'home',
        },
        {
          label: 'Documentation',
          route: 'home',
        },
        {
          label: 'Articles',
          route: 'home',
        },
      ],
      socialLinks: [
        {
          label: 'GitHub',
          link: 'https://github.com/ewilan-riviere',
          icon: 'github',
        },
        {
          label: 'GitLab',
          link: 'https://gitlab.com/EwieFairy',
          icon: 'gitlab',
        },
        {
          label: 'Twitter',
          link: 'https://twitter.com/ewieSwitch',
          icon: 'twitter',
        },
        {
          label: 'Portfolio',
          link: 'http://ewilan-riviere.com',
          icon: 'briefcase',
        },
        {
          label: 'E-mail',
          link: 'mailto:ewilan.riviere@gmail.com',
          icon: 'mail',
        },
      ],
      licenses: [
        {
          label: 'Creative Commons',
          svg: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path d="M245.83 214.87l-33.22 17.28c-9.43-19.58-25.24-19.93-27.46-19.93-22.13 0-33.22 14.61-33.22 43.84 0 23.57 9.21 43.84 33.22 43.84 14.47 0 24.65-7.09 30.57-21.26l30.55 15.5c-6.17 11.51-25.69 38.98-65.1 38.98-22.6 0-73.96-10.32-73.96-77.05 0-58.69 43-77.06 72.63-77.06 30.72-.01 52.7 11.95 65.99 35.86zm143.05 0l-32.78 17.28c-9.5-19.77-25.72-19.93-27.9-19.93-22.14 0-33.22 14.61-33.22 43.84 0 23.55 9.23 43.84 33.22 43.84 14.45 0 24.65-7.09 30.54-21.26l31 15.5c-2.1 3.75-21.39 38.98-65.09 38.98-22.69 0-73.96-9.87-73.96-77.05 0-58.67 42.97-77.06 72.63-77.06 30.71-.01 52.58 11.95 65.56 35.86zM247.56 8.05C104.74 8.05 0 123.11 0 256.05c0 138.49 113.6 248 247.56 248 129.93 0 248.44-100.87 248.44-248 0-137.87-106.62-248-248.44-248zm.87 450.81c-112.54 0-203.7-93.04-203.7-202.81 0-105.42 85.43-203.27 203.72-203.27 112.53 0 202.82 89.46 202.82 203.26-.01 121.69-99.68 202.82-202.84 202.82z"/></svg>`,
        },
        {
          label: 'Creative Commons By',
          svg: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path d="M314.9 194.4v101.4h-28.3v120.5h-77.1V295.9h-28.3V194.4c0-4.4 1.6-8.2 4.6-11.3 3.1-3.1 6.9-4.7 11.3-4.7H299c4.1 0 7.8 1.6 11.1 4.7 3.1 3.2 4.8 6.9 4.8 11.3zm-101.5-63.7c0-23.3 11.5-35 34.5-35s34.5 11.7 34.5 35c0 23-11.5 34.5-34.5 34.5s-34.5-11.5-34.5-34.5zM247.6 8C389.4 8 496 118.1 496 256c0 147.1-118.5 248-248.4 248C113.6 504 0 394.5 0 256 0 123.1 104.7 8 247.6 8zm.8 44.7C130.2 52.7 44.7 150.6 44.7 256c0 109.8 91.2 202.8 203.7 202.8 103.2 0 202.8-81.1 202.8-202.8.1-113.8-90.2-203.3-202.8-203.3z"/></svg>`,
        },
        {
          label: 'Creative Commons Nc',
          svg: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path d="M247.6 8C387.4 8 496 115.9 496 256c0 147.2-118.5 248-248.4 248C113.1 504 0 393.2 0 256 0 123.1 104.7 8 247.6 8zM55.8 189.1c-7.4 20.4-11.1 42.7-11.1 66.9 0 110.9 92.1 202.4 203.7 202.4 122.4 0 177.2-101.8 178.5-104.1l-93.4-41.6c-7.7 37.1-41.2 53-68.2 55.4v38.1h-28.8V368c-27.5-.3-52.6-10.2-75.3-29.7l34.1-34.5c31.7 29.4 86.4 31.8 86.4-2.2 0-6.2-2.2-11.2-6.6-15.1-14.2-6-1.8-.1-219.3-97.4zM248.4 52.3c-38.4 0-112.4 8.7-170.5 93l94.8 42.5c10-31.3 40.4-42.9 63.8-44.3v-38.1h28.8v38.1c22.7 1.2 43.4 8.9 62 23L295 199.7c-42.7-29.9-83.5-8-70 11.1 53.4 24.1 43.8 19.8 93 41.6l127.1 56.7c4.1-17.4 6.2-35.1 6.2-53.1 0-57-19.8-105-59.3-143.9-39.3-39.9-87.2-59.8-143.6-59.8z"/></svg>`,
        },
      ],
      nuxtFullSvg: `<svg viewBox="0 0 512 88" xmlns="http://www.w3.org/2000/svg" ><path fill-rule="evenodd" clip-rule="evenodd" d="M203.674 25.8244C204.372 26.5529 204.748 27.5328 204.714 28.5417V80.7788C204.743 81.898 204.325 82.9811 203.552 83.7897C202.778 84.6012 201.697 85.0461 200.577 85.014C199.95 85.015 199.325 84.9158 198.729 84.7205C198.183 84.5521 197.692 84.2385 197.309 83.8147L163.467 39.7526V81.2317C163.498 82.2446 163.11 83.2245 162.394 83.9399C161.678 84.6563 160.698 85.0451 159.686 85.014C158.683 85.0521 157.712 84.6604 157.018 83.937C156.326 83.2095 155.956 82.2346 155.99 81.2317V28.8844C155.964 27.7692 156.409 26.6951 157.213 25.9226C157.967 25.1491 159.011 24.7273 160.09 24.7604C160.769 24.7564 161.442 24.8856 162.073 25.1391C162.646 25.3615 163.149 25.7333 163.528 26.2162L197.223 70.3755V28.5417C197.193 27.5298 197.581 26.5499 198.297 25.8335C199.014 25.1181 199.994 24.7293 201.006 24.7604C202.006 24.7233 202.974 25.11 203.674 25.8244ZM273.193 25.8244C273.925 26.638 274.311 27.7051 274.27 28.7992V61.8448C274.34 66.1161 273.303 70.3334 271.259 74.0847C269.324 77.6236 266.447 80.5593 262.949 82.5663C259.323 84.6463 255.207 85.7194 251.027 85.6753C246.81 85.7415 242.651 84.6904 238.972 82.6274C235.457 80.6285 232.567 77.6917 230.624 74.1458C228.581 70.3945 227.543 66.1773 227.614 61.9059V28.8604C227.582 27.7402 228.026 26.6591 228.838 25.8856C229.664 25.078 230.78 24.6371 231.934 24.6622C233.023 24.6632 234.065 25.104 234.823 25.8856C235.625 26.645 236.069 27.7071 236.047 28.8113V61.8568C236.003 64.6783 236.716 67.4597 238.115 69.9105C240.752 74.5596 245.683 77.4342 251.027 77.4382C253.711 77.4573 256.353 76.774 258.689 75.4554C261.047 74.1518 263.01 72.2371 264.368 69.9105C265.789 67.4678 266.518 64.6833 266.473 61.8568V28.8113C266.433 27.7262 266.8 26.6661 267.501 25.8375C268.225 25.0279 269.269 24.58 270.353 24.6131C271.43 24.588 272.466 25.0299 273.193 25.8244ZM339.444 78.8209C339.961 79.5313 340.232 80.391 340.215 81.2687C340.261 82.3769 339.813 83.448 338.991 84.1944C338.234 84.9098 337.231 85.3086 336.189 85.3076C334.849 85.3587 333.58 84.7094 332.835 83.5943L316.104 61.2576L299.752 83.5572C299.016 84.6914 297.751 85.3697 296.399 85.3567C295.41 85.3788 294.457 84.988 293.768 84.2796C293.083 83.6494 292.693 82.7626 292.691 81.8318C292.709 80.7958 293.075 79.7959 293.731 78.9923L311.379 54.9664L293.645 31.1248C293.091 30.4274 292.786 29.5668 292.776 28.677C292.753 27.5729 293.198 26.5098 294 25.7513C294.758 24.9698 295.8 24.5279 296.888 24.5269C297.53 24.5309 298.162 24.6812 298.736 24.9678C299.343 25.2553 299.863 25.6992 300.241 26.2533L316.777 48.4676L333.154 26.4737C333.876 25.3545 335.091 24.6491 336.421 24.576C337.459 24.582 338.446 25.0269 339.138 25.8004C339.891 26.4717 340.333 27.4236 340.363 28.4315C340.334 29.3163 340.034 30.1699 339.505 30.8793L321.538 54.795L339.444 78.8209ZM401.554 25.8244C402.366 26.5629 402.817 27.6179 402.787 28.7131C402.817 29.7942 402.366 30.8322 401.554 31.5526C400.733 32.254 399.671 32.6207 398.588 32.5806H383.262V80.889C383.283 81.9931 382.838 83.0552 382.037 83.8147C380.245 85.4138 377.538 85.4138 375.746 83.8147C374.949 83.0522 374.505 81.9921 374.522 80.889V32.5806H359.236C358.147 32.6217 357.086 32.241 356.274 31.5155C355.486 30.7671 355.062 29.713 355.111 28.6279C355.076 27.5699 355.5 26.5479 356.274 25.8244C357.086 25.1 358.147 24.7183 359.236 24.7604H398.588C399.681 24.7203 400.743 25.102 401.554 25.8244Z" /><path fill-rule="evenodd" clip-rule="evenodd" d="M420.411 83.472C417.616 81.8939 415.301 79.6045 413.688 76.8381C413.207 76.1547 412.937 75.3472 412.906 74.5135C412.906 73.4334 413.377 72.4084 414.199 71.7101C414.9 70.9766 415.852 70.5388 416.874 70.4867C418.407 70.6299 419.82 71.4115 420.752 72.6409C422.666 75.788 426.102 77.6877 429.779 77.6336C432.775 77.7038 435.661 76.5555 437.785 74.4514C439.929 72.4184 441.122 69.5749 441.071 66.6191V28.8844C441.051 27.7702 441.522 26.7042 442.354 25.9597C443.156 25.1702 444.238 24.7293 445.36 24.7353C446.502 24.6802 447.614 25.102 448.426 25.8986C449.197 26.6841 449.618 27.7552 449.588 28.8604V66.6802C449.618 70.0698 448.726 73.4044 447.003 76.3241C445.3 79.2347 442.845 81.6385 439.909 83.2887C436.823 85.0351 433.326 85.9308 429.779 85.8837C426.503 85.9178 423.267 85.0862 420.411 83.472ZM479.597 84.1083C476.19 82.8137 473.054 80.8729 470.379 78.3931C469.277 77.5464 468.615 76.2459 468.585 74.8562C468.595 73.7981 469.036 72.7912 469.808 72.0648C470.539 71.2762 471.571 70.8323 472.643 70.8414C473.555 70.8283 474.427 71.166 475.088 71.7832C477.162 73.7571 479.567 75.3451 482.192 76.4713C484.837 77.5224 487.663 78.0374 490.498 77.9893C493.744 78.0915 496.931 77.2168 499.666 75.4804C501.94 74.2009 503.373 71.8113 503.413 69.2012C503.453 66.3977 502.041 63.7736 499.666 62.2736C496.229 60.2547 492.462 58.87 488.534 58.1856C482.603 56.9622 478.064 54.9914 474.867 52.237C471.681 49.4837 470.098 45.6652 470.098 40.7937C470.028 37.5944 470.97 34.4553 472.793 31.8221C474.637 29.208 477.182 27.1651 480.138 25.9226C483.514 24.4988 487.141 23.7945 490.809 23.8546C494.245 23.8325 497.652 24.4167 500.878 25.58C503.734 26.5408 506.339 28.0969 508.543 30.1459C509.716 31.0126 510.447 32.3592 510.527 33.8171C510.527 34.8551 510.106 35.848 509.365 36.5714C508.653 37.367 507.631 37.8139 506.559 37.7948C505.838 37.8229 505.137 37.5734 504.586 37.0975C502.802 35.4222 500.688 34.1347 498.383 33.3151C495.999 32.3522 493.444 31.8462 490.869 31.8221C487.642 31.6568 484.446 32.4855 481.701 34.1968C479.577 35.6066 478.294 37.9902 478.294 40.5432C478.294 43.0962 479.577 45.4788 481.701 46.8886C484.837 48.7171 488.264 49.9997 491.821 50.683C495.608 51.4285 499.305 52.5817 502.842 54.1227C505.507 55.303 507.792 57.2118 509.425 59.6305C511.078 62.4099 511.88 65.6142 511.74 68.8465C511.79 72.0237 510.808 75.1307 508.944 77.7078C506.99 80.364 504.355 82.448 501.319 83.7416C497.983 85.2014 494.376 85.9358 490.739 85.8958C486.941 85.9659 483.174 85.3607 479.597 84.1083Z" /><path fill-rule="evenodd" clip-rule="evenodd" d="M35.7629 84.3047C35.6757 84.1504 35.5976 83.991 35.5304 83.8267C35.0605 82.7406 34.9162 81.5423 35.1136 80.376H7.34335L48.614 7.74713L62.1634 31.5656L66.0921 24.6131L54.281 3.80643C53.9504 3.20626 51.9555 0 48.5158 0C46.9618 0 44.7344 0.673322 42.9228 3.85554L1.11323 77.3651C0.758533 78.0013 -0.967867 81.3429 0.746481 84.3047C1.52901 85.6503 3.19426 87.2544 6.86543 87.2544H41.8829C38.2347 87.2544 36.5464 85.6753 35.7629 84.3047Z" /><path fill-rule="evenodd" clip-rule="evenodd" d="M116.273 77.3651L81.917 16.8419C81.5623 16.2047 79.5794 12.9864 76.1287 12.9864C74.5736 12.9864 72.3463 13.6467 70.5347 16.8289L66.0921 24.6131L70.0448 31.5656L76.1648 20.7335L110.153 80.376H97.2289C97.3942 81.3619 97.3011 82.3739 96.9594 83.3127C96.8873 83.5201 96.797 83.7215 96.6898 83.9129L96.5796 84.1333C94.8422 87.0951 91.0849 87.2544 90.3505 87.2544H110.57C111.316 87.2544 115.062 87.0951 116.799 84.1333C117.571 82.7867 118.122 80.5223 116.273 77.3651Z" /><path d="M96.5806 84.1333L96.6908 83.9129C96.798 83.7215 96.8872 83.5201 96.9594 83.3127C97.302 82.3739 97.3942 81.3619 97.2289 80.376C97.0385 79.3119 96.6567 78.2919 96.1026 77.3651L70.0698 31.5656L66.0921 24.6131L62.1393 31.5656L36.1185 77.3651C35.6125 78.3029 35.2729 79.3219 35.1146 80.376C34.9052 81.5382 35.0364 82.7376 35.4943 83.8267C35.5614 83.991 35.6396 84.1504 35.7267 84.3047C36.5093 85.6503 38.1745 87.2544 41.8457 87.2544H90.3134C91.0849 87.2544 94.8422 87.0951 96.5806 84.1333ZM66.0921 38.5172L89.8855 80.376H42.3116L66.0921 38.5172Z" /></svg>`,
      tailwindFullSvg: `<svg viewBox="0 0 512 63" xmlns="http://www.w3.org/2000/svg"><!-- fill="#14B4C6" --><path d="M53 0C38.8667 0 30.0333 7 26.5 21C31.8 14 37.9833 11.375 45.05 13.125C49.0819 14.1244 51.9636 17.0217 55.1534 20.2281C60.3493 25.4528 66.3639 31.5 79.5 31.5C93.6333 31.5 102.467 24.5 106 10.5C100.7 17.5 94.5167 20.125 87.45 18.375C83.4181 17.3756 80.5364 14.4783 77.3466 11.2719C72.1507 6.0472 66.1361 0 53 0ZM26.5 31.5C12.3667 31.5 3.53333 38.5 0 52.5C5.3 45.5 11.4833 42.875 18.55 44.625C22.5819 45.6244 25.4636 48.5217 28.6534 51.7281C33.8493 56.9528 39.8639 63 53 63C67.1333 63 75.9667 56 79.5 42C74.2 49 68.0167 51.625 60.95 49.875C56.9181 48.8756 54.0364 45.9783 50.8466 42.7719C45.6507 37.5472 39.6361 31.5 26.5 31.5Z" /><!-- fill="black" --><path d="M159.094 26.7241H149.873V44.4899C149.873 49.2275 152.996 49.1534 159.094 48.8573V56.0377C146.749 57.5182 141.841 54.1131 141.841 44.4899V26.7241H135V19.0256H141.841V9.083L149.873 6.7142V19.0256H159.094V26.7241ZM194.244 19.0256H202.276V56.0377H194.244V50.7079C191.418 54.6312 187.031 57 181.231 57C171.117 57 162.714 48.4872 162.714 37.5316C162.714 26.502 171.117 18.0633 181.231 18.0633C187.031 18.0633 191.418 20.432 194.244 24.2813V19.0256ZM182.495 49.3755C189.188 49.3755 194.244 44.4159 194.244 37.5316C194.244 30.6474 189.188 25.6878 182.495 25.6878C175.802 25.6878 170.745 30.6474 170.745 37.5316C170.745 44.4159 175.802 49.3755 182.495 49.3755ZM215.661 13.4738C212.835 13.4738 210.53 11.105 210.53 8.3661C210.533 7.0122 211.074 5.7146 212.036 4.7573C212.997 3.7999 214.301 3.261 215.661 3.2584C217.021 3.261 218.325 3.7999 219.286 4.7573C220.248 5.7146 220.79 7.0122 220.792 8.3661C220.792 11.105 218.487 13.4738 215.661 13.4738ZM211.645 56.0377V19.0256H219.677V56.0377H211.645ZM228.972 56.0377V2H237.003V56.0377H228.972ZM289.132 19.0256H297.61L285.935 56.0377H278.052L270.318 31.0915L262.51 56.0377H254.628L242.952 19.0256H251.43L258.643 44.5639L266.451 19.0256H274.111L281.845 44.5639L289.132 19.0256ZM307.574 13.4738C304.749 13.4738 302.443 11.105 302.443 8.3661C302.446 7.0122 302.987 5.7146 303.949 4.7573C304.911 3.7999 306.214 3.261 307.574 3.2584C308.934 3.261 310.238 3.7999 311.2 4.7573C312.162 5.7146 312.703 7.0122 312.706 8.3661C312.706 11.105 310.4 13.4738 307.574 13.4738ZM303.559 56.0377V19.0256H311.59V56.0377H303.559ZM340.443 18.0633C348.772 18.0633 354.721 23.6891 354.721 33.3123V56.0377H346.69V34.1265C346.69 28.5007 343.418 25.5397 338.361 25.5397C333.081 25.5397 328.917 28.6487 328.917 36.1992V56.0377H320.886V19.0256H328.917V23.7631C331.371 19.9139 335.386 18.0633 340.443 18.0633ZM392.795 4.2207H400.826V56.0377H392.795V50.7079C389.969 54.6312 385.582 57 379.782 57C369.668 57 361.265 48.4872 361.265 37.5316C361.265 26.502 369.668 18.0633 379.782 18.0633C385.582 18.0633 389.969 20.432 392.795 24.2813V4.2207ZM381.046 49.3755C387.738 49.3755 392.795 44.4159 392.795 37.5316C392.795 30.6474 387.738 25.6878 381.046 25.6878C374.353 25.6878 369.296 30.6474 369.296 37.5316C369.296 44.4159 374.353 49.3755 381.046 49.3755ZM427.746 57C416.517 57 408.114 48.4872 408.114 37.5316C408.114 26.502 416.517 18.0633 427.746 18.0633C435.034 18.0633 441.355 21.8385 444.329 27.6124L437.413 31.6097C435.777 28.1306 432.133 25.9098 427.672 25.9098C421.128 25.9098 416.145 30.8695 416.145 37.5316C416.145 44.1938 421.128 49.1534 427.672 49.1534C432.133 49.1534 435.777 46.8587 437.562 43.4536L444.478 47.3769C441.355 53.2248 435.034 57 427.746 57ZM457.715 29.2409C457.715 35.9771 477.718 31.9058 477.718 45.6003C477.718 53.0027 471.249 57 463.217 57C455.781 57 450.427 53.6689 448.047 48.3392L454.963 44.3419C456.153 47.6729 459.127 49.6716 463.217 49.6716C466.787 49.6716 469.538 48.4872 469.538 45.5262C469.538 38.9381 449.535 42.6393 449.535 29.389C449.535 22.4307 455.558 18.0633 463.143 18.0633C469.241 18.0633 474.298 20.8762 476.9 25.7618L470.133 29.537C468.795 26.6501 466.192 25.3176 463.143 25.3176C460.243 25.3176 457.715 26.576 457.715 29.2409ZM491.996 29.2409C491.996 35.9771 512 31.9058 512 45.6003C512 53.0027 505.53 57 497.499 57C490.063 57 484.709 53.6689 482.329 48.3392L489.245 44.3419C490.435 47.6729 493.409 49.6716 497.499 49.6716C501.069 49.6716 503.82 48.4872 503.82 45.5262C503.82 38.9381 483.816 42.6393 483.816 29.389C483.816 22.4307 489.84 18.0633 497.425 18.0633C503.523 18.0633 508.579 20.8762 511.182 25.7618L504.415 29.537C503.076 26.6501 500.474 25.3176 497.425 25.3176C494.525 25.3176 491.996 26.576 491.996 29.2409Z" /></svg>`,
      laravelFullSvg: `<svg viewBox="0 0 512 148" xmlns="http://www.w3.org/2000/svg"><!-- fill="#FF2D20" --><path d="M195.075 34.103V100.857H219.401V112.372H182.124V34.103H195.075ZM265.12 67.31V60.27H277.393V112.372H265.117V105.326C263.468 107.935 261.12 109.986 258.077 111.476C255.04 112.965 251.98 113.71 248.902 113.71C244.922 113.71 241.28 112.983 237.978 111.531C234.764 110.141 231.869 108.105 229.475 105.55C227.108 103.013 225.237 100.054 223.959 96.828C222.632 93.484 221.962 89.916 221.987 86.318C221.987 82.667 222.644 79.182 223.959 75.863C225.229 72.617 227.1 69.64 229.475 67.089C231.87 64.533 234.764 62.496 237.978 61.105C241.28 59.65 244.922 58.923 248.902 58.923C251.98 58.923 255.04 59.671 258.08 61.163C261.12 62.652 263.468 64.703 265.12 67.31ZM263.991 92.692C264.747 90.653 265.129 88.495 265.12 86.321C265.12 84.081 264.742 81.957 263.991 79.944C263.286 78.008 262.217 76.224 260.841 74.69C259.464 73.182 257.798 71.965 255.942 71.112C254.025 70.219 251.904 69.771 249.577 69.771C247.249 69.771 245.146 70.219 243.27 71.112C241.393 72.008 239.779 73.201 238.429 74.69C237.056 76.217 236.004 78.003 235.334 79.944C234.613 81.991 234.251 84.147 234.263 86.318C234.263 88.555 234.618 90.681 235.334 92.689C236.003 94.631 237.056 96.418 238.429 97.945C239.791 99.445 241.436 100.661 243.27 101.524C245.146 102.42 247.249 102.865 249.577 102.865C251.904 102.865 254.028 102.42 255.942 101.527C257.798 100.674 259.464 99.458 260.841 97.948C262.217 96.414 263.287 94.629 263.991 92.692ZM287.078 112.369V60.267H320.413V72.258H299.351V112.369H287.078ZM364.896 67.31V60.27H377.169V112.372H364.893V105.326C363.241 107.935 360.896 109.986 357.853 111.476C354.816 112.965 351.756 113.71 348.678 113.71C344.695 113.71 341.056 112.983 337.754 111.531C334.54 110.141 331.645 108.105 329.251 105.55C326.884 103.013 325.013 100.054 323.735 96.828C322.408 93.484 321.738 89.916 321.763 86.318C321.763 82.667 322.417 79.182 323.735 75.863C325.005 72.617 326.876 69.64 329.251 67.089C331.646 64.533 334.54 62.496 337.754 61.105C341.056 59.65 344.695 58.923 348.678 58.923C351.756 58.923 354.816 59.671 357.856 61.163C360.896 62.652 363.241 64.703 364.896 67.31ZM363.767 92.692C364.522 90.653 364.903 88.495 364.893 86.321C364.893 84.081 364.515 81.957 363.767 79.944C363.061 78.007 361.991 76.224 360.614 74.69C359.237 73.182 357.571 71.965 355.715 71.112C353.801 70.219 351.68 69.771 349.353 69.771C347.025 69.771 344.922 70.219 343.046 71.112C341.169 72.008 339.555 73.201 338.205 74.69C336.831 76.217 335.778 78.003 335.107 79.944C334.386 81.991 334.024 84.147 334.036 86.318C334.036 88.555 334.391 90.681 335.107 92.689C335.777 94.631 336.831 96.418 338.205 97.945C339.567 99.445 341.212 100.661 343.046 101.524C344.922 102.42 347.025 102.865 349.353 102.865C351.68 102.865 353.804 102.42 355.715 101.527C357.571 100.674 359.237 99.458 360.614 97.948C361.991 96.414 363.062 94.629 363.767 92.692ZM426.38 60.267H438.813L418.665 112.369H403.241L383.092 60.267H395.526L410.953 100.165L426.38 60.267ZM465.583 58.929C482.298 58.929 493.696 73.634 491.555 90.847H450.833C450.833 95.342 455.404 104.031 466.257 104.031C475.596 104.031 481.85 95.877 481.856 95.871L490.147 102.242C482.735 110.103 476.663 113.713 467.156 113.713C450.167 113.713 438.656 103.042 438.656 86.321C438.656 71.193 450.554 58.929 465.583 58.929ZM450.865 81.791H480.282C480.192 80.788 478.598 68.607 465.487 68.607C452.375 68.607 450.961 80.788 450.865 81.791ZM499.549 112.369V34.103H511.825V112.369H499.549ZM144.768 33.492C144.822 33.689 144.849 33.892 144.849 34.097V65.876C144.849 66.284 144.74 66.686 144.534 67.039C144.328 67.392 144.033 67.684 143.677 67.886L116.815 83.243V113.681C116.813 114.089 116.704 114.49 116.498 114.842C116.293 115.195 115.997 115.486 115.642 115.688L59.5724 147.743C59.4444 147.819 59.3018 147.863 59.1651 147.912C59.1098 147.929 59.0604 147.961 59.008 147.976C58.6151 148.079 58.2023 148.079 57.8095 147.976C57.7455 147.959 57.6873 147.924 57.6262 147.9C57.4953 147.857 57.3644 147.813 57.2422 147.743L1.16945 115.694C0.814136 115.491 0.518753 115.198 0.313343 114.845C0.107932 114.491 -0.000179455 114.09 2.23601e-07 113.681V18.344C0.000462017 18.14 0.0278492 17.936 0.0814548 17.739C0.0989093 17.669 0.139637 17.608 0.162909 17.544C0.209455 17.422 0.250182 17.297 0.314182 17.183C0.357818 17.108 0.421818 17.047 0.471273 16.98C0.541091 16.887 0.599273 16.788 0.680727 16.706C0.747637 16.639 0.834909 16.59 0.910546 16.532C0.994909 16.468 1.07055 16.392 1.16655 16.337L1.16945 16.334L29.2073 0.307999C29.562 0.105999 29.963 0 30.3709 0C30.7789 0 31.1798 0.105999 31.5345 0.307999L59.5724 16.334H59.5782C59.6713 16.392 59.7469 16.468 59.8342 16.532C59.9098 16.59 59.9942 16.639 60.0611 16.706C60.1425 16.788 60.2007 16.887 60.2705 16.977C60.3229 17.047 60.3869 17.108 60.4305 17.183C60.4945 17.297 60.5353 17.422 60.5818 17.544C60.6051 17.608 60.6429 17.669 60.6633 17.739C60.7159 17.936 60.7423 18.14 60.7418 18.344V77.89L84.1076 64.535V34.097C84.1072 33.892 84.1336 33.689 84.1862 33.492C84.2065 33.422 84.2444 33.364 84.2705 33.297C84.3142 33.175 84.3549 33.049 84.4189 32.936C84.4625 32.86 84.5265 32.799 84.5789 32.732C84.6487 32.639 84.7069 32.54 84.7884 32.462C84.8553 32.395 84.9396 32.345 85.0153 32.287C85.1026 32.22 85.1782 32.142 85.2742 32.089V32.087L113.312 16.06C113.667 15.858 114.068 15.751 114.477 15.751C114.886 15.751 115.287 15.858 115.642 16.06L143.677 32.087H143.68C143.779 32.145 143.855 32.22 143.942 32.284C144.015 32.343 144.102 32.395 144.169 32.459C144.25 32.54 144.308 32.639 144.375 32.729C144.428 32.799 144.492 32.86 144.535 32.936C144.602 33.049 144.64 33.175 144.687 33.297C144.713 33.364 144.751 33.422 144.768 33.492ZM140.177 64.535V38.108L130.365 43.717L116.815 51.464V77.89L140.175 64.535H140.177ZM112.143 112.34V85.896L98.8073 93.454L60.7418 115.025V141.716L112.143 112.334V112.34ZM4.672 22.356V112.34L56.0698 141.721V115.033L29.2189 99.947L29.2131 99.938L29.2015 99.935C29.1084 99.883 29.0356 99.807 28.9513 99.743C28.8756 99.685 28.7942 99.639 28.7273 99.575L28.7215 99.566C28.6458 99.493 28.5935 99.403 28.5295 99.321C28.4713 99.246 28.4015 99.179 28.3549 99.097L28.352 99.089C28.2996 99.001 28.2676 98.897 28.2298 98.798C28.192 98.713 28.1425 98.632 28.1193 98.539V98.536C28.0873 98.425 28.0844 98.309 28.0698 98.196C28.0611 98.108 28.0349 98.024 28.0349 97.934V35.708L14.4873 27.964L4.672 22.356ZM30.3709 4.994L7.01964 18.347L30.3709 31.694L53.7251 18.344L30.3709 4.994ZM42.5193 88.305L56.0698 80.561V22.356L46.2604 27.964L32.7069 35.711V93.913L42.5193 88.305ZM114.479 20.75L91.1244 34.097L114.479 47.447L137.83 34.097L114.479 20.75ZM112.143 51.464L98.5891 43.717L88.7796 38.108V64.535L102.33 72.281L112.143 77.89V51.461V51.464ZM58.4029 111.013L92.6575 91.598L109.78 81.893L86.4436 68.552L59.5724 83.912L35.0836 97.911L58.4029 111.013Z" /></svg>`,
    }
  },
  mounted() {
    console.log(this.packageJson.author.name)
  },
  methods: {
    date(begin) {
      begin = parseInt(begin)
      const current = new Date().getFullYear()
      const year = `${begin} - ${current}`
      if (begin === current) {
        return begin
      }
      return year
    },
  },
}
</script>

<style lang="postcss" scoped>
@variants hover, group-hover {
  /deep/ path {
    @apply transition-colors duration-300;
  }
  /* /deep/ .nuxt-icon:hover path:nth-child(1) {
    fill: #00c58e;
  }
  /deep/ .nuxt-icon:hover path:nth-child(2) {
    fill: #2f495e;
  }
  /deep/ .nuxt-icon:hover path:nth-child(3) {
    fill: #108775;
  } */
  /* .gray-nuxt {
    color: #2f495e !important;
  }
  .green-nuxt {
    color: #00c58e !important;
  } */
  /deep/ .icon-github:hover path {
    fill: #181717;
  }
  /deep/ .icon-gitlab:hover path {
    fill: #fc6d26;
  }
  /deep/ .icon-twitter:hover path {
    fill: #1da1f2;
  }
  /deep/ .icon-portfolio:hover path {
    @apply text-primary-500;
  }
  /deep/ .icon-mail:hover path {
    fill: #d14836;
  }
  /* footer nuxt-full-svg */
  /deep/ .nuxt-svg path:nth-child(1) {
    fill: #2f495e;
  }
  /deep/ .nuxt-svg path:nth-child(2) {
    fill: #00c58e;
  }
  /deep/ .nuxt-svg path:nth-child(3) {
    fill: #00c58e;
  }
  /deep/ .nuxt-svg path:nth-child(4) {
    fill: #00c58e;
  }
  /deep/ .nuxt-svg path:nth-child(5) {
    fill: #2f495e;
  }

  /deep/ .tailwind-svg path:nth-child(1) {
    fill: #14b4c6;
  }
  /deep/ .tailwind-svg path:nth-child(2) {
    fill: black;
  }
  /deep/ .laravel-svg path:nth-child(1) {
    fill: #ff2d20;
  }
}
</style>
