<template>
  <div
    :class="isScroll ? 'bg-gray-800 py-2 shadow-md' : ' bg-white py-4'"
    class="fixed z-40 w-full transition-all duration-300 transform -translate-x-1/2 bg-opacity-90 left-1/2"
  >
    <nav
      class="flex items-center w-full px-4 mx-auto max-w-7xl sm:px-6"
      aria-label="Global"
    >
      <div
        :class="isScroll ? 'text-white' : 'text-gray-800'"
        class="flex items-center flex-1 transition-colors duration-300"
      >
        <!-- <div class="flex items-center justify-between w-full md:w-auto">
          <a href="#">
            <span class="sr-only">Workflow</span>
            <img
              class="w-auto h-8 sm:h-10"
              src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
              alt=""
            />
          </a>
          <div class="flex items-center -mr-2 md:hidden">
            <button
              id="main-menu"
              type="button"
              class="inline-flex items-center justify-center p-2 text-gray-400 bg-gray-800 rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white"
              aria-haspopup="true"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div> -->
        <span class="group">
          <markdownthis-logo
            :color-logo="
              isScroll
                ? 'text-white group-hover:text-gray-200'
                : 'text-primary-400 group-hover:text-primary-600'
            "
            :class="isScroll ? 'navbar-logo-dark' : 'navbar-logo'"
          />
        </span>
        <div class="hidden font-semibold md:flex md:ml-5">
          <nuxt-link
            v-for="nav in navigation"
            :key="nav.id"
            :to="{ name: nav.route }"
            :class="isScroll ? 'py-2' : 'py-3'"
            class="px-5 transition-all duration-300 rounded-md hover:bg-gray-300 hover:text-gray-800"
          >
            {{ nav.label }}
          </nuxt-link>
        </div>
      </div>
      <div class="hidden md:flex">
        <nuxt-link
          :to="{ name: 'sign-in' }"
          :class="
            isScroll
              ? 'bg-gray-100 hover:bg-gray-300 text-gray-900 hover:text-gray-900'
              : 'bg-gray-700 text-white border-gray-700 hover:bg-gray-900'
          "
          class="inline-flex items-center px-4 py-2 mr-3 font-semibold transition-colors duration-300 border border-transparent rounded-md"
        >
          Sign in
        </nuxt-link>
        <nuxt-link
          :to="{ name: 'sign-up' }"
          :class="
            isScroll
              ? ' hover:bg-gray-200 text-white hover:text-gray-800 border-gray-200'
              : ' hover:bg-gray-700 text-gray-700 hover:text-white border-gray-700'
          "
          class="px-4 py-2 ml-3 font-semibold transition-colors duration-300 bg-transparent border rounded hover:border-transparent"
        >
          Sign up
        </nuxt-link>
      </div>
    </nav>

    <!--
      Mobile menu, show/hide based on menu open state.

      Entering: "duration-150 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
    <div
      class="absolute inset-x-0 top-0 p-2 transition origin-top-right transform md:hidden"
    >
      <div
        class="overflow-hidden bg-white rounded-lg shadow-md ring-1 ring-black ring-opacity-5"
      >
        <div class="flex items-center justify-between px-5 pt-4">
          <div>
            <img
              class="w-auto h-8"
              src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
              alt=""
            />
          </div>
          <div class="-mr-2">
            <button
              type="button"
              class="inline-flex items-center justify-center p-2 text-gray-400 bg-white rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
            >
              <span class="sr-only">Close menu</span>
              <!-- Heroicon name: x -->
              <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
        <div
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="main-menu"
        >
          <div class="px-2 pt-2 pb-3 space-y-1" role="none">
            <a
              href="#"
              class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-50"
              role="menuitem"
              >Product</a
            >

            <a
              href="#"
              class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-50"
              role="menuitem"
              >Features</a
            >

            <a
              href="#"
              class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-50"
              role="menuitem"
              >Marketplace</a
            >

            <a
              href="#"
              class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-50"
              role="menuitem"
              >Company</a
            >
          </div>
          <div role="none">
            <nuxt-link
              :to="{ name: 'sign-in' }"
              class="block w-full px-5 py-3 font-medium text-center text-indigo-600 bg-gray-50 hover:bg-gray-100"
              role="menuitem"
            >
              Log in
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LayoutGuestNavbar',
  data() {
    return {
      isScroll: false,
      navigation: [{ label: 'About', route: 'about' }],
    }
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    // scrollTo() {
    //   return window.scrollTo({
    //     bottom: document.querySelector('#__nuxt'),
    //     behavior: 'smooth',
    //   })
    // },
    handleScroll() {
      if (window.scrollY > 50) {
        this.isScroll = true
      } else {
        this.isScroll = false
      }
    },
  },
}
</script>

<style lang="postcss" scoped>
/* .link {
  @apply inline-flex items-center px-3 py-2 text-sm font-medium text-gray-900 transition-colors duration-300 rounded-md hover:bg-gray-50;
}
.router-link-exact-active {
  @apply bg-gray-100;
}
.router-link-active {
} */
</style>
