<template>
  <section class="text-gray-700 body-font">
    <div class="px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="w-full mb-6 lg:w-1/2 lg:mb-0">
          <h1
            class="mb-2 text-2xl font-medium text-gray-900 sm:text-3xl title-font"
          >
            Mes projets
          </h1>
          <div class="w-20 h-1 bg-indigo-500 rounded" />
        </div>
        <p class="w-full text-base leading-relaxed lg:w-1/2">text</p>
      </div>

      <div class="m-2 mt-5 viewer m-md-5">
        <div class="grid-sizer"></div>
        <div
          v-for="(note, noteId) in notes"
          :key="noteId"
          :data-index="noteId"
          :class="`box-${noteId}`"
          class="item"
        >
          <div
            class="max-w-2xl px-8 py-4 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800"
          >
            <div class="flex items-center justify-between">
              <span class="text-sm font-light text-gray-600 dark:text-gray-400">
                {{ getDate(note.created_at) }}
              </span>
              <a
                class="px-3 py-1 text-sm font-bold text-gray-100 bg-gray-600 rounded hover:bg-gray-500"
              >
                JavaScript
              </a>
            </div>

            <div class="mt-2">
              <a
                href="#"
                class="text-2xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline"
              >
                {{ note.title }}
              </a>
              <p
                class="mt-2 text-gray-600 dark:text-gray-300"
                v-html="$md.render(note.text)"
              ></p>
            </div>

            <!-- <div class="flex items-center justify-between mt-4">
              <a
                href="#"
                class="text-blue-600 dark:text-blue-400 hover:underline"
              >
                Read more
              </a>

              <div class="flex items-center">
                <img
                  class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block"
                  src="https://images.unsplash.com/photo-1502980426475-b83966705988?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=40&q=80"
                  alt="avatar"
                />
                <a
                  class="font-bold text-gray-700 cursor-pointer dark:text-gray-200"
                >
                  Khatab wedaa
                </a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div v-if="limited" class="flex justify-center mt-8">
        <nuxt-link
          :to="{ name: 'projects' }"
          class="flex items-center justify-center px-5 py-3 text-base font-medium text-white transition-colors duration-300 bg-indigo-600 border border-transparent rounded-md shadow hover:bg-indigo-700 group"
        >
          <span>Découvrir davantage de projets</span>
          <icon
            name="chevron-right"
            stroke
            class="relative ml-1 group-hover:animate-pulse"
          />
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from 'vue'
import AppCopyButton from '@/components/global/copy-button'

export default {
  name: 'ListNotes',
  props: {
    notes: {
      type: Array,
      default: () => [],
    },
    limited: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      selector: '.viewer',
      options: {
        columnWidth: '.grid-sizer',
        percentPosition: true,
        gutter: 0,
        itemSelector: '.item',
      },
    }
  },
  watch: {
    data() {
      this.loaded()
    },
  },
  mounted() {
    this.loaded()
    this.highlight()
    this.setCopy()
  },
  methods: {
    getDate(date) {
      date = new Date(date)

      if (process.client) {
        const userLang = navigator.language || navigator.userLanguage
        const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone

        const dateOptions = {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        }
        const hoursOptions = {
          timeZone,
          hour: 'numeric',
          minute: 'numeric',
        }

        const dateToStringLocale = date.toLocaleString(userLang, dateOptions)
        const timeToString = date.toLocaleString(userLang, hoursOptions)

        return `${dateToStringLocale}, ${timeToString}`
      }
    },
    setCopy() {
      setTimeout(() => {
        const blocks = document.getElementsByTagName('pre')

        for (const block of blocks) {
          const lastChild = block.lastChild
          if (lastChild.className === 'copy') {
            block.removeChild(lastChild)
          }

          const CopyButton = Vue.extend(AppCopyButton)
          const component = new CopyButton().$mount()
          block.appendChild(component.$el)
        }
      }, 100)
    },
    highlight() {
      const hljs = require('highlight.js') // https://highlightjs.org/

      // Actual default values
      const md = require('markdown-it')({
        highlight(str, lang) {
          if (lang && hljs.getLanguage(lang)) {
            try {
              return (
                '<pre class="hljs"><code>' +
                hljs.highlight(lang, str, true).value +
                '</code></pre>'
              )
            } catch (__) {}
          }

          return (
            '<pre class="hljs"><code>' +
            md.utils.escapeHtml(str) +
            '</code></pre>'
          )
        },
      })
    },
    loaded() {
      if (process.browser) {
        const Masonry = require('masonry-layout')
        const ImagesLoaded = require('imagesloaded')

        // all images are loadedImages
        ImagesLoaded(this.selector, () => {
          this.$emit('masonry-images-loaded') // activate mansonry grid
          const masonry = new Masonry(this.selector, this.options)
          this.$emit('masonry-loaded', masonry)
        })
      }
    },
  },
}
</script>

<style lang="postcss">
@import 'highlight.js/styles/night-owl.css';

@variants group-hover, hover, focus {
  .zoom {
    transform: scale(1.025);
  }
  .icon-git-hover {
    color: #f05032;
  }
  .shadow-svg {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
  }
}
/* /deep/ .item {
  @apply mb-3;
} */
/deep/ .masonry-container {
  margin: 0 auto;
}
/* masonry view */
/deep/ .masonry-bottom {
  @apply mt-1 pt-1 !important;
  min-height: 0px !important;
}
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  &.card {
    flex: 0 0 auto;
  }
}
.grid-sizer {
  width: 100%;
}
.item {
  width: 100%;
  padding-bottom: 10px;
  padding-left: 10px;
}
@screen sm {
  .grid-sizer {
    width: 50%;
  }
  .item {
    width: 50%;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}
@screen md {
  .grid-sizer {
    width: 50%;
  }
  .item {
    width: 50%;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}
@screen lg {
  .grid-sizer {
    width: 33%;
  }
  .item {
    width: 33%;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}
@screen xl {
  .grid-sizer {
    width: 33%;
  }
  .item {
    width: 33%;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}
@screen 2xl {
  .grid-sizer {
    width: 25%;
  }
  .item {
    width: 25%;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}
</style>
