@responsive {
  .word-wraping {
    text-align: justify !important;
    -webkit-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -ms-hyphens: auto !important;
    hyphens: auto !important;
  }
  .w-max-content {
    width: max-content;
  }
  .center-it {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.container {
  @apply px-5;
}
.badges-section img {
  @apply inline my-1 !important;
}
.badges-section a {
  @apply border-transparent !important;
}
.badges-section a:hover {
  @apply bg-transparent border-transparent !important;
}
body {
  /* @apply overflow-x-hidden overflow-y-scroll; */
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/pt-sans/PTSans-Regular.ttf');
}
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'VictorMono-Regular';
  src: url('../../node_modules/victormono/dist/woff/VictorMono-Regular.woff');
}
@font-face {
  font-family: 'VictorMono-Italic';
  src: url('../../node_modules/victormono/dist/woff/VictorMono-Italic.woff');
}
pre {
  @apply p-2 !important;
}
code {
  @apply p-3 font-victormono-regular rounded-md !important;
}
pre {
  position: relative;
  z-index: 10;
}
pre:hover .copy {
  @apply opacity-100;
}
.copy {
  @apply absolute top-0 right-0 z-20 px-2 py-2 mt-5 mr-5 text-sm font-semibold leading-none text-white uppercase transition-opacity duration-300 bg-gray-800 bg-opacity-75 border border-white rounded-md shadow-lg opacity-0;

  &:hover {
    @apply bg-gray-700;
  }

  &:focus {
    @apply bg-gray-600 outline-none;
  }
}

[v-cloak] {
  display: none;
}

.navbar-logo-dark .icon-markdownthis-title g {
  @apply text-white;
}
.navbar-logo .icon-markdownthis-title g:nth-child(1) {
  fill: #685fd4;
}
.navbar-logo .icon-markdownthis-title g:nth-child(2) {
  @apply text-gray-900;
}
