<template>
  <div class="container mx-20 my-10">
    <div v-if="!loading" class="w-1/2">
      <div class="w-full max-w-sm lg:max-w-full lg:flex">
        <div
          class="flex-none h-48 overflow-hidden text-center bg-cover rounded-t lg:h-auto lg:w-48 lg:rounded-t-none lg:rounded-l"
          :style="`background-image: url('/gw2/${
            $slugify(mainCharacter.race) + '-' + $slugify(mainCharacter.gender)
          }.png')`"
          title="Woman holding a mug"
        ></div>
        <div
          class="flex flex-col justify-between p-4 leading-normal bg-white border-b border-l border-r border-gray-400 rounded-b lg:border-l-0 lg:border-t lg:border-gray-400 lg:rounded-b-none lg:rounded-r"
        >
          <div class="mb-8">
            <p class="flex items-center text-sm text-gray-600">
              <svg
                class="w-3 h-3 mr-2 text-gray-500 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"
                />
              </svg>
              {{ mainCharacter.race }} ({{ mainCharacter.gender }})
            </p>
            <div class="mb-2 text-xl font-bold text-gray-900">
              {{ mainCharacter.name }}
            </div>
            <p class="text-base text-gray-700">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptatibus quia, nulla! Maiores et perferendis eaque,
              exercitationem praesentium nihil.
            </p>
          </div>
          <div class="flex items-center">
            <img
              class="w-10 h-10 mr-4 rounded-full"
              src="/gw2/engineer.png"
              alt="Avatar of Jonathan Reinink"
            />
            <div class="text-sm">
              <p class="leading-none text-gray-900">
                {{ mainCharacter.profession }}, level {{ mainCharacter.level }}
              </p>
              <p class="text-gray-600">
                From {{ getDate(mainCharacter.created) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GuildWars2Api',
  data() {
    return {
      loading: true,
      characters: [],
      mainCharacter: {},
    }
  },
  async created() {
    await this.fetchGuildWars2Api()
  },
  methods: {
    async fetchGuildWars2Api() {
      const gwBaseUrl = 'https://api.guildwars2.com/v2/'
      const gwToken =
        '?access_token=6303F2AF-F9D7-B746-AD84-B95F6D902BDAA5F9496D-FD3F-47A5-928B-B9850846A878'
      const charactersRequest = await this.$http.get(
        `${gwBaseUrl}characters${gwToken}`
      )
      const characters = await charactersRequest.json()

      const leelooRequest = await this.$http.get(
        `${gwBaseUrl}characters/${characters[0]}/core${gwToken}`
      )
      const leelooCore = await leelooRequest.json()

      this.characters = characters
      this.mainCharacter = leelooCore

      console.log(leelooCore)

      this.loading = false
    },
    getDate(date) {
      date = new Date(date)
      const options = {
        year: 'numeric',
        weekday: 'long',
        month: 'long',
        day: 'numeric',
      }
      const userLang = navigator.language || navigator.userLanguage
      return date.toLocaleString(userLang, options)
    },
  },
}
</script>
