<template>
  <div>
    <client-only>
      <magic-grid :max-cols="4" :max-col-width="200">
        <div
          v-for="item in notes"
          :key="item.id"
          class="p-5 text-white bg-gray-600 border-2 border-white rounded-md"
        >
          {{ item.content }}
        </div>
      </magic-grid>
    </client-only>
  </div>
</template>

<script>
export default {
  name: 'ListNotes',
  props: {
    notes: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
