<template>
  <div>
    <layout-guest-navbar />
    <Nuxt />
    <layout-back-to-top />
    <client-only>
      <tailwind-helper sneak />
    </client-only>
  </div>
</template>

<script>
import LayoutBackToTop from '~/components/layout/layout-back-to-top.vue'
import layoutGuestNavbar from '~/components/layout/layout-guest-navbar.vue'

export default {
  name: 'LayoutDefault',
  components: { layoutGuestNavbar, LayoutBackToTop },
  mounted() {
    if (
      localStorage.theme === 'dark' ||
      (!('theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      document.querySelector('html').classList.add('dark')
    } else {
      document.querySelector('html').classList.remove('dark')
    }
    localStorage.theme = 'light'
  },
}
</script>
