<template>
  <div>
    <!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
    <div class="flex flex-col justify-center bg-gray-50 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <icon name="md-this" :size="100" class="flex mx-auto w-max-content" />
        <h2
          class="mt-6 text-3xl font-extrabold leading-9 text-center text-gray-900"
        >
          Sign in to your account
        </h2>
      </div>

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
          <form action="#" method="POST" @submit.prevent="loginByToken()">
            <div>
              <label
                for="email"
                class="block text-sm font-medium leading-5 text-gray-700"
              >
                Email address
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <input
                  id="email"
                  v-model="form.email"
                  type="email"
                  required
                  class="block w-full px-3 py-2 placeholder-gray-400 transition duration-150 ease-in-out border border-gray-300 rounded-md appearance-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                />
              </div>
            </div>

            <div class="mt-6">
              <label
                for="password"
                class="block text-sm font-medium leading-5 text-gray-700"
              >
                Password
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <input
                  id="password"
                  v-model="form.password"
                  type="password"
                  required
                  class="block w-full px-3 py-2 placeholder-gray-400 transition duration-150 ease-in-out border border-gray-300 rounded-md appearance-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                />
              </div>
            </div>

            <div class="flex items-center justify-between mt-6">
              <div class="flex items-center">
                <input
                  id="remember_me"
                  type="checkbox"
                  class="w-4 h-4 text-indigo-600 transition duration-150 ease-in-out form-checkbox"
                />
                <label
                  for="remember_me"
                  class="block ml-2 text-sm leading-5 text-gray-900"
                >
                  Remember me
                </label>
              </div>

              <div class="text-sm leading-5">
                <a
                  href="#"
                  class="font-medium text-indigo-600 transition duration-150 ease-in-out hover:text-indigo-500 focus:outline-none focus:underline"
                >
                  Forgot your password?
                </a>
              </div>
            </div>

            <div class="mt-6">
              <span class="block w-full rounded-md shadow-sm">
                <button
                  type="submit"
                  class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700"
                >
                  Sign in
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="p-3 my-10 bg-gray-300">
      <!-- <button class="btn btn-blue" @click="signIn()">Sign in nuxt/auth</button>
      <button class="btn btn-red" @click="sanctum()">sanctum</button>
      <button class="btn btn-red" @click="login()">axios</button>
      <button class="btn btn-red" @click="getUserData()">Get UsersData</button>
      <button class="btn btn-red" @click="logout()">Logout</button> -->
      <!-- <button class="btn btn-red" @click="loginByToken()">loginByToken</button> -->
      <!-- <div v-if="$auth.user">Connecté·e : {{ authUser.email }}</div> -->
      <div>
        {{ authUser }}
      </div>
      <div>
        <div>Result:</div>
        <pre>{{ userData }}</pre>
      </div>
    </div>
  </div>
</template>

<script>
import User from '~/plugins/api/User'

export default {
  data() {
    return {
      form: {
        email: 'ewilan@dotslashplay.it',
        password: 'password',
        device_name: 'browser',
      },
      error: {},
      api: process.env.API_URL,
      authUser: null,
      userData: [],
    }
  },
  mounted() {
    this.checkConnecion()
  },
  methods: {
    checkConnecion() {
      this.authUser = 'this.$auth.user'
    },
    signIn() {
      this.$auth.loginWith('laravelSanctum', {
        data: {
          email: 'ewilan@dotslashplay.it',
          password: 'password',
        },
      })
    },
    sanctum() {
      this.$axios
        .get(`${this.api}/sanctum/csrf-cookie`)
        .then((response) => {})
        .catch((error) => console.log(error))
    },
    login() {
      this.$axios
        .post(`${this.api}/login`, this.form)
        .then((response) => {
          console.log(response)
          this.checkConnecion()
        })
        .catch((error) => console.log(error)) // credentials didn't match
    },
    logout() {
      this.$axios
        .get(`${this.api}/logout`)
        .then((response) => {
          console.log(response)
        })
        .catch((error) => {
          console.log(error)
        })
    },
    getUserData() {
      this.$axios
        .get(`${this.api}/api/users`, this.form)
        .then((response) => {
          this.userData = response.data
          console.log(response)
        })
        .catch((error) => {
          console.log(error)
          this.userData = "can't get data"
        })
    },
    loginByToken() {
      User.login(this.form)
        .then((response) => {
          this.$root.$emit('login', true)
          localStorage.setItem('token', response.data)
          this.$auth.setUser(this.form)
          this.$router.push({ name: 'dashboard' })
          // this.$router.push('/')
        })
        .catch((error) => {
          console.error(error)
          if (error.response) {
            if (error.response.status === 422) {
              this.errors = error.response.data.errors
            }
          }
        })
    },
  },
}
</script>
