<template>
  <div>
    <!-- <GuildWars2Api></GuildWars2Api> -->
    <!-- <list-notes :notes="notes"></list-notes> -->
    <div class="flex items-center w-1/3 mx-auto space-x-4">
      <div
        class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        @click="logout"
      >
        <transition name="fade">
          <span v-if="!isLoading"> Logout </span>
          <span v-else class="flex items-center">
            <svg
              class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            Processing
          </span>
        </transition>
      </div>
      <div
        class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        @click="getData"
      >
        <transition name="fade">
          <span v-if="!isLoading"> Get API data </span>
          <span v-else class="flex items-center">
            <svg
              class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            Processing
          </span>
        </transition>
      </div>
    </div>
    <div>
      {{ apiData }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageDashboard',
  auth: 'auth',
  data() {
    return {
      isLoading: false,
      apiData: null,
    }
  },
  methods: {
    async logout() {
      await this.$auth.logout()
    },
    async getData() {
      try {
        const response = await this.$axios.$get('/api/user')
        if (response) {
          this.apiData = response
        }
      } catch (error) {
        console.log(error)
        this.apiData = null
      }
    },
  },
}
</script>
