<template>
  <div>
    <hero />
    <features />
    <frequently-asked-questions />
    <contact />
    <layout-footer />
  </div>
</template>

<script>
import Contact from '~/components/block/contact.vue'
import Features from '~/components/block/features.vue'
import FrequentlyAskedQuestions from '~/components/block/frequently-asked-questions.vue'
import hero from '~/components/block/hero.vue'
import LayoutFooter from '~/components/layout/layout-footer.vue'
// import MarkdownEditor from '@/components/MarkdownEditor.vue'

export default {
  name: 'PageHome',
  components: {
    hero,
    Features,
    FrequentlyAskedQuestions,
    Contact,
    LayoutFooter,
  },
  auth: 'guest',
  data() {
    return {
      isLoading: false,
      apiData: null,
    }
  },
  methods: {
    async logout() {
      // try {
      //   await this.$axios.$post('/api/logout')
      // } catch (error) {
      //   console.log(error)
      // }
      await this.$auth.logout()
    },
    async getData() {
      try {
        const response = await this.$axios.$get('/api/user')
        if (response) {
          this.apiData = response
        }
      } catch (error) {
        console.log(error)
        this.apiData = null
      }
    },
  },
}
</script>
