<template>
  <div>
    <form @submit.prevent="submit">
      <div class="mb-3">
        <label for="email" class="block ml-1 text-sm font-medium text-gray-700">
          Email address
        </label>
        <div class="mt-1">
          <input
            id="email"
            v-model="form.email"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="block w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
        <div class="text-red-600">
          <span v-if="errors.email">
            {{ errors.email[0] }}
          </span>
          <br v-else />
        </div>
      </div>

      <div class="mb-3">
        <label
          for="password"
          class="block ml-1 text-sm font-medium text-gray-700"
        >
          Password
        </label>
        <div class="mt-1">
          <input
            id="password"
            v-model="form.password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="block w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
        <div class="text-red-600">
          <span v-if="errors.password">{{ errors.password[0] }}</span>
          <br v-else />
        </div>
      </div>

      <div class="flex items-center justify-between mb-5">
        <div class="flex items-center">
          <input
            id="remember_me"
            v-model="form.remember"
            name="remember_me"
            type="checkbox"
            class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500"
          />
          <label for="remember_me" class="block ml-2 text-sm text-gray-900">
            Remember me
          </label>
        </div>

        <div class="text-sm">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
            Forgot your password?
          </a>
        </div>
      </div>

      <div class="flex space-x-4">
        <button
          type="submit"
          class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          <transition name="fade">
            <span v-if="!isLoading"> Sign in </span>
            <span v-else class="flex items-center">
              <svg
                class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
              Processing
            </span>
          </transition>
        </button>
        <div
          class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          @click="logout"
        >
          <transition name="fade">
            <span v-if="!isLoading"> Logout </span>
            <span v-else class="flex items-center">
              <svg
                class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
              Processing
            </span>
          </transition>
        </div>
      </div>
      <div
        class="flex justify-center w-full px-4 py-2 mt-5 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        @click="getData"
      >
        <transition name="fade">
          <span v-if="!isLoading"> Get API data </span>
          <span v-else class="flex items-center">
            <svg
              class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            Processing
          </span>
        </transition>
      </div>
    </form>
    <div>
      {{ apiData }}
    </div>
  </div>
</template>

<script>
// import axios from '@/plugins/axios'

export default {
  name: 'FormLogin',
  data() {
    return {
      form: {
        email: 'ewilan@mail.com',
        password: 'password',
        remember: false,
      },
      // form: {
      //   email: "",
      //   password: ""
      // },
      errors: {},
      isLoading: false,
      apiData: null,
    }
  },
  layout: 'auth',
  auth: 'guest',
  mounted() {
    // this.$axios.defaults.headers.common = {
    //   'X-Requested-With': 'XMLHttpRequest',
    // }
    // console.log(this.$axios.defaults.headers)
    // console.log(this.$axiosHeader.defaults.headers)
    // console.log(axios)
  },
  methods: {
    initForm() {
      const formCookie = this.$cookies.get('form')
      if (formCookie) {
        this.form.email = formCookie.email
        this.form.password = formCookie.password
      }
    },
    async logout() {
      try {
        await this.$axios.$post('/api/logout')
      } catch (error) {
        console.log(error)
      }
    },
    async getData() {
      try {
        const response = await this.$axios.$get('/api/user')
        if (response) {
          this.apiData = response
        }
      } catch (error) {
        console.log(error)
        this.apiData = null
      }
    },
    async submit() {
      try {
        const manual = false
        console.log(this.$axios)
        if (manual) {
          await this.$axios.$get('/sanctum/csrf-cookie')
          await this.$axios.$post('/api/login', this.form)
        } else {
          this.$auth.loginWith('laravelSanctum', {
            data: this.form,
          })
        }
        //   // this.$axios.setHeader('X-Requested-With', 'XMLHttpRequest')

        //   const response = await this.$axiosHeader.get('/api/user')
        //   console.log(response.data)
      } catch (error) {
        console.log(error)
      }
    },
    // async handleLogin() {
    //   this.errors = ''
    //   this.isLoading = true

    //   // if (this.form.remember) {
    //   //   this.$cookies.set("form", this.form);
    //   // }

    //   try {
    //     await this.axios.get('/sanctum/csrf-cookie')
    //     await this.axios.post('/api/login', this.form)

    //     const response = await this.axios.get('/api/user')

    //     if (response.data) {
    //       this.$store.commit('setAuth', {
    //         user: response.data,
    //         remember: this.form.remember,
    //       })
    //     }

    //     this.$router.push('dashboard')
    //     this.form.email = ''
    //     this.form.password = ''
    //     this.form.remember = false
    //   } catch (error) {
    //     console.error(error)
    //     this.errors = error.response.data.errors
    //   }
    //   this.isLoading = false
    // },
  },
}
</script>

<style lang="postcss" scoped></style>
