<template>
  <nuxt-link
    :to="{ name: route }"
    :class="{ 'bg-white-apply': forceBackground }"
    class="flex items-center flex-shrink-0 px-4 my-auto"
  >
    <icon
      v-if="haveLogo"
      name="markdownthis-logo"
      :size="40"
      ratio
      :class="`${colorLogo}`"
      svg="transition-colors duration-300"
    />
    <icon
      v-if="haveTitle"
      name="markdownthis-title"
      :size="160"
      ratio
      :class="`${colorText}`"
      svg="transition-colors duration-300 ml-2"
    />
  </nuxt-link>
</template>

<script>
export default {
  name: 'MarkdownthisLogo',
  props: {
    colorLogo: {
      type: String,
      default: 'text-primary-400',
    },
    colorText: {
      type: String,
      default: 'text-black',
    },
    forceBackground: {
      type: Boolean,
      default: false,
    },
    route: {
      type: String,
      default: 'home',
    },
    haveLogo: {
      type: Boolean,
      default: true,
    },
    haveTitle: {
      type: Boolean,
      default: true,
    },
  },
}
</script>

<style lang="postcss" scoped>
.bg-white-apply {
  @apply bg-white !important;
}
.text-padding {
  padding-bottom: 0.15rem;
}
</style>
